<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/styles.css">
    <title>404 | page not found</title>
</head>
<body>
    <div class="container">

    {{>header}}
    {{!-- {{>error}} --}}
    <div class="page-404">
<img src="/img/404-img.jpg" alt="404 image" height="600px" width="900px">
<a href="/">Back to dashboard</a>
    </div>
    {{>footer}}
    </div>
</body>
</html>